streamlit
langchain
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
ollama
sentence-transformers
transformers
accelerate
torch
torchvision
torchaudio
faiss-cpu
PyMuPDF
camelot-py
opencv-python
pillow
pandas
numpy
tabulate
httpx
requests
